openapi: 3.0.0
info:
  title: IB Connect
  version: '1'
  x-logo:
    url: /portal/assets/redoc-cis-web/API_Documentation.svg
    backgroundColor: '#171717'
servers:
  - url: https://api.bloomberg.com/
  - url: /
components:
  schemas:
    ChatbotPostRequest:
      description: Chatbot Post Request
      type: object
      properties:
        chatbotId:
          $ref: '#/components/schemas/UserId'
        recipient:
          oneOf:
            - $ref: '#/components/schemas/RoomId'
        chatMessage:
          type: array
          minItems: 1
          maxItems: 1
          items:
            $ref: '#/components/schemas/ChatMessageChatbotPost'
      additionalProperties: false
      required:
        - chatbotId
        - recipient
        - chatMessage
    ChatInitiationRequest:
      description: Chat Initiation Request
      type: object
      properties:
        sender:
          $ref: '#/components/schemas/UserId'
        recipients:
          type: array
          minItems: 1
          maxItems: 50
          items:
            oneOf:
              - $ref: '#/components/schemas/UserId'
              - $ref: '#/components/schemas/RoomId'
        table:
          $ref: '#/components/schemas/JSONTable'
        chatMessage:
          $ref: '#/components/schemas/ChatMessageChatInitiation'
        structuredTemplate:
          type: array
          minItems: 0
          maxItems: 1
          items:
            $ref: '#/components/schemas/StructuredTemplate'
      additionalProperties: false
      required:
        - sender
    JSONTable:
      description: An object that contains a JSON representation of a table.
      type: object
      properties:
        json:
          type: object
          properties:
            rows:
              type: array
              items:
                $ref: '#/components/schemas/TableRow'
          additionalProperties: false
          required:
            - rows
      additionalProperties: false
      required:
        - json
    ChatMessageChatbotPost:
      description: An object that contains the chat content that can be sent to IB.
      type: object
      oneOf:
        - properties:
            messageElements:
              type: array
              minItems: 1
              items:
                $ref: '#/components/schemas/MessageElement'
              description: >-
                An array of different types of elements. Restrictions apply:
                each message can contain up to 10 MentionElements, 1
                TableElement or 1 CardElement.
          additionalProperties: false
        - properties:
            text:
              type: string
              minLength: 1
              example: How are you?
          additionalProperties: false
    ChatMessageChatInitiation:
      description: An object that contains the chat content that can be sent to IB.
      type: object
      properties:
        text:
          type: string
          minLength: 1
          maxLength: 1000
          example: How are you?
      additionalProperties: false
      required:
        - text
    Suggestion:
      description: >-
        A Suggestion must contain at least one of: a text or textElement (but
        not both), a structuredTemplate, or structuredElements.
      type: object
      properties:
        text:
          type: string
          example: Price for VMW US is 51.2
          description: >-
            Message 6000 characters or less in length. The text element is
            planned to be deprecated in favour of textElements. Cannot be used
            with the textElements property.
        action:
          description: >-
            The type of action which can be taken on this suggestion. VIEW_ONLY
            means the suggestion cannot be shared with anyone else; therefore
            hiding any sharing capabilities. ORIGINAL_ROOM allows sharing of a
            suggestion into the chat room which contains the triggering message.
            For (solicited) ideas, ORIGINAL_ROOM is the default action, if no
            property is explicitly provided. For unsolicited ideas, the default
            action is to allow sharing of a suggestion to a chat room if
            VIEW_ONLY is not provided. ORIGINAL_ROOM does not apply to
            unsolicited ideas. If ORIGINAL_ROOM is provided for unsolicited
            ideas, it will be ignored and the default action of unsolicited
            ideas will be performed instead.
          type: string
          enum:
            - VIEW_ONLY
            - ORIGINAL_ROOM
        structuredTemplate:
          type: array
          minItems: 0
          maxItems: 1
          items:
            $ref: '#/components/schemas/StructuredTemplate'
        textElements:
          description: >-
            An array containing text or link elements that will be concatenated
            in the idea. Cannot be used with the text property.
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/IdeaTextElement'
        structuredElements:
          description: >-
            An array containing structured content elements that will be
            appended to the end of the message. See IdeaStructuredElement for
            supported types.
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/IdeaStructuredElement'
      additionalProperties: false
    IdeaTextElement:
      description: An element of an idea that can be combined to form rich text messages.
      oneOf:
        - $ref: '#/components/schemas/TextElement'
        - $ref: '#/components/schemas/LinkElement'
    IdeaStructuredElement:
      description: A rich content element that can be added to a suggestion.
      oneOf:
        - $ref: '#/components/schemas/TableElement'
        - $ref: '#/components/schemas/MarketCommentaryElement'
    MessageElement:
      description: >-
        An element of a message that can be combined to form rich content
        messages.
      oneOf:
        - $ref: '#/components/schemas/TextElement'
        - $ref: '#/components/schemas/LinkElement'
        - $ref: '#/components/schemas/MentionElement'
        - $ref: '#/components/schemas/TableElement'
        - $ref: '#/components/schemas/CardElement'
    CardElement:
      description: >-
        A rich content element that can be posted by a chatbot. Each chatbot
        message can contain only 1.
      oneOf:
        - $ref: '#/components/schemas/MarketCommentaryElement'
        - $ref: '#/components/schemas/OrderUpdateElement'
    FeedMessageElement:
      description: >-
        An element of a message that can be combined to form rich content
        messages.
      oneOf:
        - $ref: '#/components/schemas/TextElement'
        - $ref: '#/components/schemas/LinkElement'
        - $ref: '#/components/schemas/UserMentionElement'
        - $ref: '#/components/schemas/TableElement'
        - $ref: '#/components/schemas/AttachmentElement'
    TextElement:
      description: Text Element
      type: object
      properties:
        contentType:
          type: string
          enum:
            - TEXT
          example: TEXT
          description: Should read "TEXT" for this element type
        text:
          type: string
          minLength: 1
          example: This is a plaintext message...
      additionalProperties: false
      required:
        - contentType
        - text
      example:
        contentType: TEXT
        text: This is a plaintext message...
    LinkElement:
      description: Link Element
      type: object
      properties:
        contentType:
          type: string
          enum:
            - LINK
          example: LINK
          description: Should read "LINK" for this element type
        href:
          type: string
          minLength: 1
          example: https://github.com/
        title:
          type: string
          minLength: 1
          example: Click Here
      additionalProperties: false
      required:
        - contentType
        - href
      example:
        contentType: LINK
        href: https://github.com/
        title: Click Here
    MentionElement:
      description: Mention Element (@John Doe) - Max of 10 per message
      type: object
      properties:
        contentType:
          type: string
          enum:
            - MENTION
          example: MENTION
          description: Should read "MENTION" for this element type
        user:
          $ref: '#/components/schemas/UserId'
      additionalProperties: false
      required:
        - contentType
        - user
    UserMentionElement:
      description: Mention Element (@John Doe)
      type: object
      properties:
        contentType:
          type: string
          enum:
            - USERMENTION
          example: USERMENTION
          description: Should read "USERMENTION" for this element type
        user:
          $ref: '#/components/schemas/User'
      additionalProperties: false
      required:
        - contentType
        - user
    TableElement:
      description: Table Element
      type: object
      properties:
        contentType:
          type: string
          enum:
            - TABLE
          example: TABLE
        rows:
          type: array
          items:
            $ref: '#/components/schemas/TableRow'
      additionalProperties: false
      required:
        - contentType
        - rows
    TableRow:
      description: Row element to construct Tables.
      type: object
      properties:
        cells:
          type: array
          items:
            $ref: '#/components/schemas/TableCell'
        isHeaderRow:
          type: boolean
          description: Style the row as a table header.
      additionalProperties: false
      required:
        - cells
    TableCell:
      description: Cell element to construct Rows.
      type: object
      properties:
        cell:
          type: array
          items:
            $ref: '#/components/schemas/CellContent'
        colspan:
          type: integer
          example: 1
          description: The number of columns the cell should span.
        rowspan:
          type: integer
          example: 1
          description: The number of rows the cell should span.
        halign:
          type: string
          description: Horizonally align the content within the cell.
          enum:
            - Left
            - Center
            - Right
      additionalProperties: false
      required:
        - cell
    CellContent:
      description: An element that represents content in an Table Cell.
      oneOf:
        - $ref: '#/components/schemas/TextCellContent'
    TextCellContent:
      description: An element that represents text in an Table Cell.
      type: object
      properties:
        text:
          type: string
          example: this-is-a-table-cell
        style:
          type: object
          description: The styles to apply to the cell text.
          properties:
            decorations:
              type: array
              items:
                type: string
                enum:
                  - Bold
                  - Italic
                  - Underline
                  - Strikethrough
          additionalProperties: false
      additionalProperties: false
      required:
        - text
    MarketCommentaryElement:
      type: object
      title: MarketCommentaryElement
      description: A structured element for commentary or analysis of a market event.
      properties:
        contentType:
          type: string
          enum:
            - MARKET COMMENTARY
          description: >-
            (This is currently an experimental feature and needs firm specific
            enablement)
        title:
          type: string
          title: Title
          description: The title of the Market Commentary.
          example: Out of the Box - Looking Out and Lookout
        body:
          description: The body of the Market Commentary.
          $ref: '#/components/schemas/MarketCommentaryBody/properties/rich-text'
        metadata:
          description: Additional data related to the content of the Market Commentary.
          $ref: '#/components/schemas/MarketCommentaryMetadata'
      required:
        - contentType
        - title
        - body
      additionalProperties: false
    MarketCommentaryBody:
      type: object
      properties:
        rich-text:
          type: object
          properties:
            blocks:
              type: array
              items:
                $ref: '#/components/schemas/MarketCommentaryBody/properties/block'
              minItems: 1
          required:
            - blocks
          additionalProperties: false
        block:
          oneOf:
            - $ref: '#/components/schemas/MarketCommentaryBody/properties/paragraph'
        paragraph:
          type: object
          title: Paragraph
          description: Represents a distinct section of text.
          properties:
            type:
              type: string
              enum:
                - Paragraph
            tokens:
              type: array
              items:
                $ref: >-
                  #/components/schemas/MarketCommentaryBody/properties/inline-token
              minItems: 1
          required:
            - type
            - tokens
          additionalProperties: false
        inline-token:
          oneOf:
            - $ref: '#/components/schemas/MarketCommentaryBody/properties/text-token'
            - $ref: '#/components/schemas/MarketCommentaryBody/properties/link-token'
        text-token:
          type: object
          title: Text
          description: Represents formatted text.
          properties:
            type:
              type: string
              enum:
                - Text
            text:
              type: string
            attributes:
              $ref: >-
                #/components/schemas/MarketCommentaryBody/properties/rich-text-attributes
          required:
            - type
            - text
          additionalProperties: false
          example:
            type: Text
            text: Jeff Bezos is having a tremendous year!
        link-token:
          type: object
          title: Link
          description: A link with optional display text.
          properties:
            type:
              type: string
              enum:
                - Link
            destination:
              $ref: '#/components/schemas/MarketCommentaryBody/properties/link'
            tokens:
              type: array
              items:
                anyOf:
                  - $ref: >-
                      #/components/schemas/MarketCommentaryBody/properties/text-token
              minItems: 1
          required:
            - type
            - destination
          additionalProperties: false
        rich-text-attributes:
          type: object
          title: Text formatting options
          properties:
            strong:
              title: Strong text
              description: Text with strong importance, seriousness, or urgency.
              type: boolean
            em:
              title: Emphasized text
              description: Text that has a stressed emphasis compared to surrounding text.
              type: boolean
            mark:
              title: Marked text
              description: >-
                Text which is marked or highlighted for reference or notation
                purposes.
              type: boolean
          minProperties: 1
          maxProperties: 1
          additionalProperties: false
        link:
          oneOf:
            - $ref: '#/components/schemas/MarketCommentaryBody/properties/bb-link'
            - $ref: '#/components/schemas/MarketCommentaryBody/properties/web-link'
        bb-link:
          type: object
          title: Bloomberg Link
          description: Represents a command which runs a Bloomberg function.
          properties:
            type:
              type: string
              enum:
                - BBLink
            mnemonic:
              type: string
            tails:
              type: array
              items:
                type: string
              minItems: 1
            securities:
              type: array
              items:
                type: string
                minItems: 1
          required:
            - type
            - mnemonic
          additionalProperties: false
          example:
            type: BBLink
            mnemonic: NSN
            securities:
              - IBM US Equity
            tails:
              - S8UOE9T0G1KW
        web-link:
          type: object
          title: Web Link
          description: Represents an http or https link.
          properties:
            type:
              type: string
              enum:
                - WebLink
            url:
              type: string
              description: The url has to be a valid link in URI format
          required:
            - type
            - url
          additionalProperties: false
          example:
            type: WebLink
            url: https://wwww.google.com
      additionalProperties: false
    MarketCommentaryMetadata:
      type: object
      properties:
        instruments:
          $ref: >-
            #/components/schemas/market_commentary_metadata_definitions/properties/instruments
      additionalProperties: false
    market_commentary_metadata_definitions:
      type: object
      properties:
        instruments:
          type: array
          minItems: 1
          maxItems: 3
          items:
            $ref: >-
              #/components/schemas/market_commentary_metadata_definitions/properties/listed-security
        listed-security:
          type: object
          properties:
            figi:
              $ref: >-
                #/components/schemas/structured_template_fields/properties/common_fields_figi
          required:
            - figi
          additionalProperties: false
      additionalProperties: false
    OrderUpdateElement:
      type: object
      title: OrderUpdateElement
      description: A structured element for an Order Update.
      properties:
        contentType:
          type: string
          enum:
            - ORDER UPDATE
          description: >-
            (This is currently an experimental feature and needs firm specific
            enablement)
        body:
          description: The body of the Order Update.
          oneOf:
            - $ref: '#/components/schemas/OrderUpdateBody/properties/MarketOrder'
            - $ref: '#/components/schemas/OrderUpdateBody/properties/LimitOrder'
      required:
        - contentType
        - body
      additionalProperties: false
    OrderUpdateBody:
      type: object
      properties:
        MarketOrder:
          type: object
          title: Market Order
          properties:
            side:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/side
            size:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/size
            instrument:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/instrument
            orderType:
              description: The condition/rule applied to the order execution.
              type: string
              enum:
                - MKT
            orderStatus:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/status
            strategy:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/strategy
            timestamp:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/timestamp
            notes:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/notes
            client:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/client
            broker:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/broker
            filledQuantity:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/filledQuantity
            timeInForce:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/timeInForce
            trader:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/trader
            maxParticipationPercentage:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/maxParticipationPercentage
            benchmark:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/benchmark
            account:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/account
            venue:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/venue
            totalMarketValue:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/totalMarketValue
            averagePrice:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/averagePrice
            targetPrice:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/targetPrice
          required:
            - side
            - size
            - instrument
            - orderType
            - orderStatus
            - timestamp
            - client
            - broker
            - filledQuantity
            - averagePrice
          additionalProperties: false
        LimitOrder:
          type: object
          title: Limit Order
          properties:
            side:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/side
            size:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/size
            instrument:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/instrument
            orderType:
              description: The condition/rule applied to the order execution.
              type: string
              enum:
                - LMT
            orderStatus:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/status
            strategy:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/strategy
            timestamp:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/timestamp
            notes:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/notes
            client:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/client
            broker:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/broker
            filledQuantity:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/filledQuantity
            timeInForce:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/timeInForce
            trader:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/trader
            maxParticipationPercentage:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/maxParticipationPercentage
            benchmark:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/benchmark
            account:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/account
            venue:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/venue
            totalMarketValue:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/totalMarketValue
            averagePrice:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/averagePrice
            limitPrice:
              $ref: >-
                #/components/schemas/OrderUpdateBody/properties/OrderUpdateFields/properties/limitPrice
          required:
            - side
            - size
            - instrument
            - orderType
            - orderStatus
            - timestamp
            - client
            - broker
            - filledQuantity
            - limitPrice
          additionalProperties: false
        OrderUpdateFields:
          properties:
            side:
              description: The trade side.
              type: string
            size:
              description: The quantity of the traded instrument.
              type: number
              minimum: 0
              exclusiveMinimum: true
            instrument:
              description: The traded instrument.
              type: object
              properties:
                figi:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_figi
              required:
                - figi
              additionalProperties: false
            status:
              description: The status or condition of the order.
              type: string
              enum:
                - Sent
                - Working
                - Rejected
                - Part-filled
                - Filled
                - CxlPend
                - Cancel
                - CxlRej
                - CxlForce
                - CxlRep
                - CxlRepRej
                - Replaced
                - CxlRepReq
                - Done
                - Queued
                - Hold
                - Corrected
                - Allocation Sent
                - Allocated
                - New
                - Assign
                - Completed
                - Suspended
                - Modified
                - Split Sent
                - Routed
            strategy:
              description: The name of the algorithm or the execution strategy.
              type: string
            timestamp:
              description: >-
                The epoch timestamp in milliseconds of the order update
                snapshot.
              type: number
              minimum: 0
            notes:
              description: Free form input for comments/special order instructions.
              type: string
            client:
              description: The client whose trade is being updated upon.
              type: string
            broker:
              description: The broker involved in the order.
              type: string
            filledQuantity:
              description: How much of the trade is done.
              type: number
              minimum: 0
            timeInForce:
              description: >-
                How long the order will remain active before it is executed or
                expires.
              type: string
              enum:
                - DAY
                - GTC
                - OPG
                - IOC
                - FOK
                - GTD
                - GTX
            trader:
              description: The trader involved in the order.
              type: string
            maxParticipationPercentage:
              description: >-
                How much of the average daily volume in that name are you
                willing to be accountable for?.
              type: string
            benchmark:
              description: Reference instrument, basket, index, price or benchmark bond.
              type: string
            account:
              description: Trading account/client portfolio ID.
              type: string
            venue:
              description: Exchange, ATS, dark pool - where the trade is being executed.
              type: string
            totalMarketValue:
              description: >-
                Approximate value of total order, or gross risk for undefined
                quantity of instrument.
              type: number
              minimum: 0
            averagePrice:
              description: Weighted average price of executed volume
              type: number
              minimum: 0
            limitPrice:
              description: >-
                The limit price for the order. Do not execute higher (buy) or
                lower (sell) than this
              type: number
              minimum: 0
              exclusiveMinimum: true
            targetPrice:
              description: Target execution price
              type: number
              minimum: 0
          additionalProperties: false
      additionalProperties: false
    AttachmentElement:
      description: >-
        A generic attachment object attached to the IB message that is specified
        by type of attachment
      type: object
      properties:
        contentType:
          type: string
          enum:
            - ATTACHMENT
        attachment:
          oneOf:
            - $ref: '#/components/schemas/FileAttachmentElement'
            - $ref: '#/components/schemas/ComponentAttachmentElement'
            - $ref: '#/components/schemas/AudioAttachmentElement'
      required:
        - contentType
        - attachment
      additionalProperties: false
    FileAttachmentElement:
      description: File Attachment Element
      type: object
      properties:
        type:
          type: string
          enum:
            - FILE
        name:
          type: string
        sizeBytes:
          type: integer
      required:
        - type
        - name
        - sizeBytes
      example:
        type: FILE
        name: file_name.jpg
        sizeBytes: 192178
      additionalProperties: false
    ComponentAttachmentElement:
      description: Launchpad Component Attachment Element
      type: object
      properties:
        type:
          type: string
          enum:
            - COMPONENT
        name:
          type: string
        componentId:
          type: string
      required:
        - type
        - componentId
        - name
      example:
        type: COMPONENT
        componentId: 10229
        name: Bloomberg Capital Markets
      additionalProperties: false
    AudioAttachmentElement:
      description: Audio Attachment Element
      type: object
      properties:
        type:
          type: string
          enum:
            - AUDIO
        audioEventId:
          type: string
        durationSecs:
          type: number
      required:
        - type
        - audioEventId
        - durationSecs
      example:
        type: AUDIO
        audioEventId: 47e2ceaa-fd7b-43d7-8fb2-0272115230be
        durationSecs: 12
      additionalProperties: false
    StructuredTemplate:
      description: >-
        An object that contains a list of fields in a template that can be sent
        as structured content into IB Chats, and can therefore be rendered in a
        pill format in IB.
      type: object
      oneOf:
        - $ref: '#/components/schemas/structured_template_fields/properties/equity'
        - $ref: >-
            #/components/schemas/structured_template_fields/properties/fixed_income_cash
        - $ref: '#/components/schemas/structured_template_fields/properties/mortgage'
        - $ref: '#/components/schemas/structured_template_fields/properties/option'
        - $ref: '#/components/schemas/structured_template_fields/properties/other'
        - $ref: >-
            #/components/schemas/structured_template_fields/properties/security_lending
    structured_template_fields:
      type: object
      additionalProperties: false
      properties:
        equity:
          type: object
          properties:
            '@type':
              type: string
              enum:
                - equity
            instrument:
              type: object
              properties:
                bbid:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_bbid
                cusip:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_cusip
                exchange:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_exchange
                figi:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_figi
                ticker:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_ticker
                yellow_key:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_yellow_key
                security_description:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_security_description
              additionalProperties: false
            quote:
              type: object
              properties:
                ask_price:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_ask_price
                bid_price:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_bid_price
                if_natural:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_if_natural
                price:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_price
                order_type:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_order_type
              additionalProperties: false
            intent:
              type: object
              properties:
                name:
                  type: string
                  example: Inquiry
                  enum:
                    - Inquiry
                    - Quote
                  description: Name of the security-level intent
              additionalProperties: false
              description: Generic group Intent
            side:
              type: object
              properties:
                side:
                  type: string
                  example: LEND
                  enum:
                    - BUY
                    - SELL
                    - TWO-SIDED
                    - SELL-SHORT
                    - BUY-TO-COVER
                  description: Side of the quote or security mention
              additionalProperties: false
              description: Generic group Side. Most of the types use this one
            size:
              type: object
              properties:
                ask_size:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_ask_size
                bid_size:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_bid_size
                size:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_size
                share_size:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_share_size
                notional_size:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_notional_size
              additionalProperties: false
              description: Generic group Size
            note:
              type: object
              properties:
                text:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_text
              additionalProperties: false
              description: Generic group Note
          required:
            - '@type'
            - instrument
          additionalProperties: false
        fixed_income_cash:
          type: object
          properties:
            '@type':
              type: string
              enum:
                - fixed_income_cash
            instrument:
              type: object
              properties:
                bbid:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_bbid
                cusip:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_cusip
                figi:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_figi
                security_description:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_security_description
                ticker:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_ticker
                yellow_key:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_yellow_key
              additionalProperties: false
            quote:
              type: object
              properties:
                benchmark:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_benchmark
                benchmark_yellow_key:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_benchmark_yellow_key
                firmness:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_firmness
                settlement_currency:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_currency
                settlement_date:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_settlement_date
                underlying_equity:
                  type: object
                  properties:
                    price:
                      $ref: >-
                        #/components/schemas/structured_template_fields/properties/common_fields_equity_price
                    ticker:
                      $ref: >-
                        #/components/schemas/structured_template_fields/properties/common_fields_ticker
                  additionalProperties: false
                values:
                  type: array
                  items:
                    type: object
                    properties:
                      ask_value:
                        $ref: >-
                          #/components/schemas/structured_template_fields/properties/common_fields_ask_value
                      bid_value:
                        $ref: >-
                          #/components/schemas/structured_template_fields/properties/common_fields_bid_value
                      order_type:
                        $ref: >-
                          #/components/schemas/structured_template_fields/properties/common_fields_order_type
                      value_type:
                        type: string
                        enum:
                          - PRICE
                          - YIELD
                          - DISCOUNT
                          - DISCOUNT_MARGIN
                          - SPREAD_TO_BENCHMARK
                    additionalProperties: false
                  description: >-
                    An array of different quote value types like price, yield,
                    spread, discount margin
              additionalProperties: false
            intent:
              type: object
              properties:
                name:
                  type: string
                  example: Inquiry
                  enum:
                    - Inquiry
                    - Quote
                  description: Name of the security-level intent
              additionalProperties: false
              description: Generic group Intent
            side:
              type: object
              properties:
                side:
                  type: string
                  example: LEND
                  enum:
                    - BUY
                    - SELL
                    - TWO-SIDED
                  description: Side of the quote or security mention
              additionalProperties: false
              description: Generic group Side. Most of the types use this one
            size:
              type: object
              properties:
                ask_size:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_ask_size
                bid_size:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_bid_size
                size:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_size
              additionalProperties: false
              description: Generic group Size
            note:
              type: object
              properties:
                text:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_text
              additionalProperties: false
              description: Generic group Note
          required:
            - '@type'
            - instrument
          additionalProperties: false
        mortgage:
          type: object
          properties:
            '@type':
              type: string
              enum:
                - mortgage
            header:
              type: object
              properties:
                app_meta_data:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_app_meta_data
                origin_app:
                  type: string
                  example: TSOX
                  enum:
                    - IB
                    - TSOX
                  description: The application originally generated the SPW pill
                version:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_version
              additionalProperties: false
              required:
                - version
            instrument:
              type: object
              properties:
                bbid:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_bbid
                current_face:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_current_face
                figi:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_figi
                maturity_date:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_maturity_date
                security_description:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_security_description
                ticker:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_ticker
                yellow_key:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_yellow_key
              additionalProperties: false
            quote:
              type: object
              properties:
                firmness:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_firmness
                reference_price:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_reference_price
                settlement_date:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_settlement_date
                values:
                  type: array
                  items:
                    type: object
                    properties:
                      ask_value:
                        $ref: >-
                          #/components/schemas/structured_template_fields/properties/common_fields_ask_value
                      bid_value:
                        $ref: >-
                          #/components/schemas/structured_template_fields/properties/common_fields_bid_value
                      value_type:
                        type: string
                        enum:
                          - PRICE
                          - DISCOUNT_MARGIN
                          - I_SPREAD
                    additionalProperties: false
              additionalProperties: false
            intent:
              type: object
              properties:
                name:
                  type: string
                  example: Inquiry
                  enum:
                    - Inquiry
                    - Quote
                  description: Name of the security-level intent
              additionalProperties: false
              description: Generic group Intent
            side:
              type: object
              properties:
                side:
                  type: string
                  example: LEND
                  enum:
                    - BUY
                    - SELL
                    - TWO-SIDED
                  description: Side of the quote or security mention
              additionalProperties: false
              description: Generic group Side. Most of the types use this one
            size:
              type: object
              properties:
                ask_size:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_ask_size
                bid_size:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_bid_size
                size:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_size
              additionalProperties: false
              description: Generic group Size
            note:
              type: object
              properties:
                text:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_text
              additionalProperties: false
              description: Generic group Note
          required:
            - '@type'
            - instrument
          additionalProperties: false
        option:
          type: object
          properties:
            '@type':
              type: string
              enum:
                - option
            instrument:
              type: object
              properties:
                underlying:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/option_instrument_instrument_underlying
                strategy:
                  type: string
                  example: CALL
                  enum:
                    - CALL_CALENDAR_SPREAD
                    - CALL_DIAGONAL_CALENDAR_SPREAD
                    - CALL_SPREAD
                    - CALL
                    - PUT_CALENDAR_SPREAD
                    - PUT_DIAGONAL_CALENDAR_SPREAD
                    - PUT_SPREAD
                    - PUT
                    - RISK_REVERSAL
                    - STRADDLE
                    - STRANGLE
                    - SYNTHETIC
                    - CALL_FLY
                    - PUT_FLY
                    - CALL_RATIO
                    - PUT_RATIO
                    - CUSTOM
                    - REVERSE_CONVERSION
                    - JELLY_ROLL
                  description: An options or an option strategy
                style:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_option_style
                legs:
                  type: array
                  items:
                    type: object
                    properties:
                      type:
                        $ref: >-
                          #/components/schemas/structured_template_fields/properties/option_instrument_leg_type
                      expiration_date:
                        $ref: >-
                          #/components/schemas/structured_template_fields/properties/common_fields_expiration_date
                      strike_price:
                        $ref: >-
                          #/components/schemas/structured_template_fields/properties/option_instrument_strike_price
                      side:
                        $ref: >-
                          #/components/schemas/structured_template_fields/properties/option_instrument_leg_side
                      ratio:
                        $ref: >-
                          #/components/schemas/structured_template_fields/properties/common_fields_leg_ratio
                    additionalProperties: false
                  minItems: 1
              additionalProperties: false
            intent:
              type: object
              properties:
                name:
                  type: string
                  example: Inquiry
                  enum:
                    - Inquiry
                    - Quote
                  description: Name of the security-level intent
              additionalProperties: false
              description: Generic group Intent
            quote:
              type: object
              properties:
                reference_price:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_reference_price
                bid_price:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_bid_price
                ask_price:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_ask_price
                normalized_delta:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_normalized_delta
              additionalProperties: false
            side:
              type: object
              properties:
                side:
                  type: string
                  example: LEND
                  enum:
                    - BUY
                    - SELL
                    - TWO-SIDED
                  description: Side of the quote or security mention
              additionalProperties: false
              description: Generic group Side. Most of the types use this one
            size:
              type: object
              properties:
                ask_size:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_ask_size
                bid_size:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_bid_size
                size:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_size
              additionalProperties: false
              description: Generic group Size
            note:
              type: object
              properties:
                text:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_text
              additionalProperties: false
              description: Generic group Note
          required:
            - '@type'
            - instrument
          additionalProperties: false
        other:
          type: object
          properties:
            '@type':
              type: string
              enum:
                - other
            instrument:
              type: object
              properties:
                figi:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_figi
                security_description:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_security_description
                ticker:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_ticker
                yellow_key:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_yellow_key
              additionalProperties: false
            side:
              type: object
              properties:
                side:
                  type: string
                  example: LEND
                  enum:
                    - BUY
                    - SELL
                    - TWO-SIDED
                  description: Side of the quote or security mention
              additionalProperties: false
            quote:
              type: object
              properties:
                values:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/other_quote_values
              additionalProperties: false
            intent:
              type: object
              properties:
                name:
                  type: string
                  example: Inquiry
                  enum:
                    - Inquiry
                    - Quote
                  description: Name of the security-level intent
              additionalProperties: false
              description: Generic group Intent
            size:
              type: object
              properties:
                ask_size:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_ask_size
                bid_size:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_bid_size
                size:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_size
              additionalProperties: false
              description: Generic group Size
            note:
              type: object
              properties:
                text:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_text
              additionalProperties: false
              description: Generic group Note
          required:
            - '@type'
            - instrument
          additionalProperties: false
        security_lending:
          type: object
          properties:
            '@type':
              type: string
              enum:
                - security_lending
            instrument:
              type: object
              properties:
                bbid:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_bbid
                cusip:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_cusip
                exchange:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_exchange
                figi:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_figi
                security_description:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_security_description
                ticker:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_ticker
                yellow_key:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_yellow_key
              additionalProperties: false
            quote:
              type: object
              properties:
                ask_rate:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_rate
                bid_rate:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_rate
                rate:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_rate
                start_term:
                  type: object
                  properties:
                    date:
                      type: object
                      properties:
                        value:
                          type: string
                          example: 5Y
                          pattern: ^[0-9]{2}/[0-9]{2}/[0-9]{4}$
                          description: Resolved date in MM/DD/YYYY format
                      additionalProperties: false
                    days:
                      type: integer
                      example: '2'
                      description: >-
                        The term number of days. When used as a start term, it
                        is number of days after the contract is signed. As an
                        end term, it is a duration of the contract.
                  additionalProperties: false
                end_term:
                  type: object
                  properties:
                    date:
                      type: object
                      properties:
                        value:
                          type: string
                          example: 5Y
                          pattern: ^[0-9]{2}/[0-9]{2}/[0-9]{4}$
                          description: Resolved date in MM/DD/YYYY format
                      additionalProperties: false
                    days:
                      type: integer
                      example: '2'
                      description: >-
                        The term number of days. When used as a start term, it
                        is number of days after the contract is signed. As an
                        end term, it is a duration of the contract.
                  additionalProperties: false
              additionalProperties: false
            side:
              type: object
              properties:
                side:
                  type: string
                  example: LEND
                  enum:
                    - LEND
                    - BORROW
                  description: Side of the quote or security mention
              additionalProperties: false
              description: Generic group Side. Most of the types use this one
            size:
              type: object
              properties:
                ask_size:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_ask_size
                bid_size:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_bid_size
                size:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_size
              additionalProperties: false
              description: Generic group Size
            intent:
              type: object
              properties:
                name:
                  type: string
                  example: Inquiry
                  enum:
                    - Inquiry
                    - Quote
                  description: Name of the security-level intent
              additionalProperties: false
              description: Generic group Intent
            note:
              type: object
              properties:
                text:
                  $ref: >-
                    #/components/schemas/structured_template_fields/properties/common_fields_text
              additionalProperties: false
              description: Generic group Note
          required:
            - '@type'
            - instrument
          additionalProperties: false
        common_fields_app_meta_data:
          type: string
          example: >-
            '{"appId": "rightClickDemo", "eventCorrelationId":
            "52f407e9-05ec-4a06-b5d4-88c04cda05d1"}'
          description: Application meta-data
        common_fields_ask_price:
          $ref: >-
            #/components/schemas/structured_template_fields/properties/common_fields_price
          example: 101.34
          description: Ask price
        common_fields_ask_size:
          type: number
          example: 2000000
          description: Ask size (in security currency)
        common_fields_ask_value:
          type: number
          example: 2.343
          description: Ask value of a price_type for the quote
        common_fields_bbid:
          type: string
          example: EK336104
          description: Bloomberg Company Identifier
        common_fields_benchmark:
          type: string
          example: 9128283S
          description: FIGI of benchmark security
        common_fields_benchmark_yellow_key:
          type: string
          example: Govt
          enum:
            - Govt
            - Corp
            - Mtge
            - M-Mkt
            - Muni
            - Pfd
            - Equity
            - Comdty
            - Index
            - Curncy
            - Client
          description: Yellowkey of benchmark security
        common_fields_bid_price:
          type: number
          example: 101.32
          description: Bid price
        common_fields_bid_size:
          type: number
          example: 2000000
          description: Bid size (in security currency)
        common_fields_bid_value:
          type: number
          example: 2.343
          description: Bid value of a price_type for the quote
        common_fields_currency:
          type: string
          example: EUR
          description: Three letter Currency identifier
        common_fields_current_face:
          type: number
          example: 128734811
          description: Current outstanding value
        common_fields_cusip:
          type: string
          example: 01748XAA
          description: Cusip
        common_fields_date:
          type: object
          properties:
            text:
              type: string
              example: 5Y
              description: Exact text as it appeared
            value:
              type: string
              example: 5Y
              pattern: ^[0-9]{2}/[0-9]{2}/[0-9]{4}$
              description: Resolved date in MM/DD/YYYY format
          additionalProperties: false
        common_fields_equity_price:
          type: number
          example: 23.45
          description: Equity price associated with bond
        common_fields_exchange:
          type: string
          example: IM
          description: Exchange code
        common_fields_expiration_date:
          type: object
          properties:
            text:
              type: string
              example: Dec 2021
              description: Exact text as it appeared
            value:
              type: string
              example: 12/2021
              pattern: ^[0-9]{2}/([0-9]{2}/)?[0-9]{4}$
              description: Resolved date in either MM/YYYY or MM/DD/YYYY format
          additionalProperties: false
        common_fields_figi:
          type: string
          example: BBG008N18X67
          description: Primary security FIGI identifier
        common_fields_firmness:
          type: string
          enum:
            - FIRM
            - INDICATIVE
          example: FIRM
          description: How changeable the stated quote is
        common_fields_if_natural:
          type: boolean
          example: false
          description: Natural Indication of Interest (see FINRA regulatory notice 11-43).
        common_fields_leg_ratio:
          type: number
          example: 2.1
          description: Ratio of an option leg
        common_fields_maturity_date:
          $ref: >-
            #/components/schemas/structured_template_fields/properties/common_fields_date
          description: 'Maturity Date: MM/DD/YYYY'
        common_fields_normalized_delta:
          type: number
          example: 0.19
          description: >-
            Represents a percentage and should always be normalized into a value
            between 0.00 and 1.00
        common_fields_notional_size:
          type: number
          example: 7900
          description: The size of a deal in notional ammount
        common_fields_option_style:
          type: string
          example: American
          enum:
            - AMERICAN
            - EUROPEAN
          description: An option style
        common_fields_order_type:
          type: string
          example: LIMIT
          enum:
            - LIMIT
            - MARKET
          description: The quote execution strategy
        common_fields_price:
          type: number
          example: 198.45
          description: The price of a security
        common_fields_rate:
          type: number
          example: 0.16
          description: Rate
        common_fields_reference_price:
          type: number
          example: 1.1
          description: Reference price of underlying asset
        common_fields_security_description:
          type: string
          example: THC 6.25 2018
          description: 'Text describing the security, ex: THC 6.25 2018, AMNEAL PHARMA TL B'
        common_fields_settlement_date:
          type: string
          example: September
          description: The text scraped for settlement date.
        common_fields_share_size:
          type: number
          example: 7900
          description: The size of a deal in shares
        common_fields_size:
          type: number
          example: 7900
          description: The size of a deal
        common_fields_text:
          type: string
          example: Adding note here for follow-up
          description: Free-form text for specifying additional details in SPW negotiations
        common_fields_ticker:
          type: string
          example: FCA
          description: Ticker associated with the security
        common_fields_version:
          type: string
          pattern: ^[0-9]+[.][0-9]|^[0-9]+[.][0-9]+[.][0-9]+$
          example: '3.1'
          description: Version of the enrichment schema <major>.<minor>[.<patch>]
        common_fields_yellow_key:
          type: string
          example: Corp
          enum:
            - Govt
            - Corp
            - Mtge
            - M-Mkt
            - Muni
            - Pfd
            - Equity
            - Comdty
            - Index
            - Curncy
            - Client
          description: Yellow key of security
        option_instrument_instrument_underlying:
          type: object
          properties:
            ticker:
              $ref: >-
                #/components/schemas/structured_template_fields/properties/common_fields_ticker
            exchange:
              $ref: >-
                #/components/schemas/structured_template_fields/properties/common_fields_exchange
            yellow_key:
              $ref: >-
                #/components/schemas/structured_template_fields/properties/common_fields_yellow_key
            figi:
              $ref: >-
                #/components/schemas/structured_template_fields/properties/common_fields_figi
          additionalProperties: false
        option_instrument_leg_side:
          type: string
          enum:
            - BUY
            - SELL
          description: A leg side of the option
        option_instrument_leg_type:
          type: string
          enum:
            - PUT
            - CALL
          description: A leg type of the option
        option_instrument_strike_price:
          type: number
          example: '40.00'
          description: Strike price of the option
        other_quote_value_type:
          type: string
          enum:
            - PRICE
        other_quote_values:
          type: array
          items:
            type: object
            properties:
              ask_value:
                $ref: >-
                  #/components/schemas/structured_template_fields/properties/common_fields_price
              bid_value:
                $ref: >-
                  #/components/schemas/structured_template_fields/properties/common_fields_price
              value_type:
                $ref: >-
                  #/components/schemas/structured_template_fields/properties/other_quote_value_type
            additionalProperties: false
          description: An array of different quote value types
    StreamList:
      description: A list of available streams based on the credentials.
      type: object
      properties:
        streams:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/StreamDesc'
      additionalProperties: false
      required:
        - streams
    StreamDesc:
      description: An object describing a single stream.
      type: object
      properties:
        id:
          type: string
          example: ee808754-9b0a-4e5a-93d1-b25a5d1e4dac
        displayName:
          type: string
          example: XYZ System
        description:
          type: string
          example: Stream for XYZ system
        firmId:
          type: integer
          example: Firm associated with this stream
      additionalProperties: false
      required:
        - id
    ErrorSchema:
      description: Error Response Schema per JSONApi Spec.
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              detail:
                type: string
              status:
                type: integer
              title:
                type: string
            additionalProperties: false
            required:
              - detail
          minItems: 1
        error:
          type: string
          example: unauthorized_client
        error_description:
          type: string
          example: No definition of jwt found in header or query string.
      additionalProperties: false
      required:
        - errors
    IdeaPartialSuccess:
      description: Error Response Schema for 207 partial success
      type: object
      additionalProperties: false
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              detail:
                type: string
              status:
                type: integer
              title:
                type: string
            required:
              - detail
            additionalProperties: false
          minItems: 1
        suggestionIds:
          description: >-
            unique IDs for suggestions in idea, returned in the same order as
            sent
          type: array
          minItems: 0
          items:
            type: string
      required:
        - errors
    ContentEvent:
      description: >-
        Represents an event from the On Demand Feed, Base Feed, or Enriched
        Feed. The message parameter contains the actual content. The requester
        parameter will only be present in messages sent from the On Demand
        workflow. In this case, sender indicates the user who sent the message,
        while requester represents the user who forwarded the message to the
        API. Participants show a list of the participants in the chat room at
        the moment when this message is posted. Enrichments contain anything
        that a listening stream is interested in by this stream's configuration.
        For the Base Feed and Enriched Feed workflows, the 'messages' array will
        contain at most a single message. For the On Demand workflow,
        the'messages' array may contain multiple messages.
      type: object
      properties:
        '@type':
          type: string
          enum:
            - CONTENT_EVENT
        roomId:
          type: string
          example: PCHAT-0x4000001B22635
        roomName:
          type: string
          example: IB CONNECT TEAM
          description: >-
            Name of the IB Chatroom. It is only provided for persistent chat
            rooms.
        eventId:
          type: string
          example: DA453A324534E56456
        backfillId:
          type: string
          description: >-
            Can be used to resume streaming from after this event when a
            disconnection happens
          example: >-
            eyJwIjoxLCJvIjoyMywidCI6MTAwMH0=.bc65a282f83b3445c69359f8470296f867bc763ea4fc452f5725860ba4b4fd4a
        requester:
          $ref: '#/components/schemas/User'
        participants:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/User'
        trigger:
          $ref: '#/components/schemas/Trigger'
        enrichments:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/Enrichment'
        messages:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/Message'
      additionalProperties: false
      required:
        - '@type'
        - roomId
        - eventId
        - participants
        - trigger
        - messages
    IdeaDrawerFeedbackEvent:
      description: >-
        Represents an idea drawer feedback event from either the manual or
        automatic workflow. This event is sent back when a suggestion has been
        acted upon in idea drawer.
      type: object
      properties:
        '@type':
          type: string
          enum:
            - IDEA_DRAWER_FEEDBACK_EVENT
        suggestionId:
          type: string
          description: A unique identifier for a suggestion
          example: 38fbb198-bcc0-4e24-9f60-a666ca685eea
        destinations:
          type: array
          description: The room ids that the suggestion was shared with
          minItems: 1
          items:
            oneOf:
              - $ref: '#/components/schemas/RoomId'
              - $ref: '#/components/schemas/UserId'
        senderId:
          description: An object that uniquely identifies a Bloomberg user.
          $ref: '#/components/schemas/UserId'
        action:
          type: string
          description: Indicates whether the suggestion was sent as is or edited
          enum:
            - SENT_SUGGESTION
            - EDITED_SUGGESTION
        backfillId:
          type: string
          description: >-
            Can be used to resume streaming from after this event when a
            disconnection happens
          example: >-
            eyJwIjoxLCJvIjoyMywidCI6MTAwMH0=.bc65a282f83b3445c69359f8470296f867bc763ea4fc452f5725860ba4b4fd4a
      additionalProperties: false
      required:
        - '@type'
        - suggestionId
    User:
      description: >-
        An object that identifies a user by UUID. The field GPI has been
        DEPRECATED and will no longer be included in responses.
      type: object
      properties:
        uuid:
          type: integer
          format: int64
          example: 11111111
        gpi:
          deprecated: true
          description: DEPRECATED and will no longer be included in responses.
          type: string
          nullable: true
          example: '124124141412526'
        firmId:
          type: integer
          format: int64
          example: 9001
        firmName:
          type: string
          nullable: true
          example: CHAI TEA BANK
        fullName:
          type: string
          nullable: true
          example: Wolfgang Amadeus Mozart
        firstName:
          type: string
          nullable: true
          example: Wolfgang Amadeus
        lastName:
          type: string
          nullable: true
          example: Mozart
        login:
          type: string
          nullable: true
          example: wamozart
      additionalProperties: false
      required:
        - uuid
    UserId:
      description: An object that uniquely identifies a Bloomberg user.
      type: object
      properties:
        uuid:
          type: integer
          format: int64
          example: 11111111
      additionalProperties: false
      required:
        - uuid
    Room:
      description: An object containing information about an IB room.
      type: object
      properties:
        roomId:
          type: string
          example: PCHAT-0x0000001234567
      additionalProperties: false
      required:
        - roomId
    RoomId:
      description: >-
        An object that identifies an IB chat room. This can represent a
        transient or persistent chat room.
      type: object
      properties:
        roomId:
          type: string
          example: PCHAT-0x0000001234567
      additionalProperties: false
      required:
        - roomId
    RoomList:
      description: A list of objects each containing information about an IB Chatroom.
      type: object
      properties:
        rooms:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/Room'
      additionalProperties: false
      required:
        - rooms
    Trigger:
      description: >-
        Represents what caused the event to happen. The Trigger enum indicates
        why the messages was sent to the stream. A value of AUTOMATIC indicates
        that the messages was sent through the Base Feed or Enriched Feed
        workflow. Values beginning with MANUAL_ correspond to user actions in
        the On Demand workflow.
      type: string
      enum:
        - AUTOMATIC
        - MANUAL_SEND_TO_INTERNAL
    Message:
      description: >-
        An object providing message information. Message is the raw message
        content. It is an optional field dependent on the triggering event type.
        For example a manually triggered event would include this field.
        Timestamp is when this message is posted in the chat room. Sender is the
        one who posts this message. messageElements is an array of structured
        content; for example if a message is composed of a regular text message
        (e.g. "Hello, check out the table below:") followed by a table,
        messageElements will contain two items 1) a TextElement representing the
        regular text 2) a TableElement representing the table portition of the
        raw message
      type: object
      properties:
        message:
          type: string
          x-sensitive: true
          example: This is VMW US
        messageElements:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/FeedMessageElement'
        timestamp:
          type: string
          example: '2017-07-07T19:53:18+00:00'
        sender:
          $ref: '#/components/schemas/User'
        blastInfo:
          $ref: '#/components/schemas/BlastInfo'
        ibPostId:
          description: >-
            Unique identifier of the IB post. For Base Feed or Enriched Feed,
            this value will be the same as eventId. For On Demand Feed each IB
            post included in the event has a separate post Id.
          type: string
          example: '16487644644768481352'
        microTimestamp:
          description: Timestamp in microseconds.
          type: integer
          format: int64
          example: 1500321198000
        replyTo:
          $ref: '#/components/schemas/ReplyTo'
      additionalProperties: false
      required:
        - timestamp
        - sender
    ReplyTo:
      description: >-
        This field gets populated when the event is sent as a reply to another
        event and contains information about the event that is being replied to.
      type: object
      properties:
        eventId:
          description: The id of the IB event being replied to.
          type: string
          example: '16658326962761367580'
        messageElements:
          description: The structured content of the original message.
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/FeedMessageElement'
      additionalProperties: false
      required:
        - eventId
        - messageElements
    BlastInfo:
      description: Information about the blast event
      type: object
      properties:
        externalId:
          description: External Blast Id from chat initiation.
          type: string
      additionalProperties: false
    RetractSuggestion:
      description: Retraction of a Single Suggestion Element.
      type: object
      properties:
        '@type':
          type: string
          enum:
            - RETRACT_SUGGESTION
        suggestionId:
          type: string
          description: A unique identifier for a suggestion
          example: 38fbb198-bcc0-4e24-9f60-a666ca685eea
        recipients:
          description: List of users that the suggestion will be retracted from.
          type: array
          minItems: 1
          maxItems: 25
          items:
            oneOf:
              - $ref: '#/components/schemas/UserId'
      additionalProperties: false
      required:
        - '@type'
        - suggestionId
        - recipients
    PostResponse:
      description: >-
        Used to post a response.  The @type parameter needs to be "IDEA" or
        "UIDEA". The eventCorrelationId must match an eventId from an earlier
        ContentEvent for "IDEA".
      oneOf:
        - $ref: '#/components/schemas/IDEA'
        - $ref: '#/components/schemas/UIDEA'
      discriminator:
        propertyName: '@type'
    IDEA:
      description: >-
        Post an idea response to optional recipients,  along with an optional
        suggestion. The @type parameter needs to be "IDEA". Only 5 idea
        responses are accepted per eventId.
      type: object
      properties:
        '@type':
          type: string
          enum:
            - IDEA
        eventCorrelationId:
          type: string
          example: '16631215295476531217'
        recipients:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/UserId'
        suggestions:
          description: >-
            Suggestions must contain at least one of: either a text or
            textElements (but not both), a structuredTemplate, or
            structuredElements.
          type: array
          minItems: 0
          maxItems: 3
          items:
            $ref: '#/components/schemas/Suggestion'
        ideaHeaderProperties:
          $ref: '#/components/schemas/IdeaHeaderProperties'
      additionalProperties: false
      required:
        - '@type'
        - eventCorrelationId
        - suggestions
    UIDEA:
      description: >-
        Post an unsolicited idea. Unlike IDEA, no prior eventCorrelationId is
        needed. The @type parameter needs to be "UIDEA". There is a max of 3
        suggestions per request and 25 recipients.
      type: object
      properties:
        '@type':
          type: string
          enum:
            - UIDEA
        recipients:
          description: The users whose idea drawers will receive these ideas.
          type: array
          minItems: 1
          maxItems: 25
          items:
            oneOf:
              - $ref: '#/components/schemas/UserId'
        destinations:
          description: >-
            The destination list that the ideas can be shared with by the
            recipients. Only one of: roomIds or destinationIds can be provided.
          type: object
          properties:
            roomIds:
              $ref: '#/components/schemas/RoomIdList'
            destinationIds:
              $ref: '#/components/schemas/DestinationIdList'
          additionalProperties: false
        suggestions:
          description: >-
            Suggestions must contain at least one of: either a text or
            textElements (but not both), a structuredTemplate, or
            structuredElements.
          type: array
          minItems: 1
          maxItems: 3
          items:
            $ref: '#/components/schemas/Suggestion'
        ideaHeaderProperties:
          $ref: '#/components/schemas/IdeaHeaderProperties'
      required:
        - '@type'
        - recipients
        - destinations
        - suggestions
      additionalProperties: false
    RoomIdList:
      description: The persistent room ID list that the ideas can be shared to.
      type: array
      minItems: 1
      maxItems: 50
      items:
        $ref: '#/components/schemas/RoomId'
    DestinationIdList:
      description: Persistent room IDs or user UUIDs that the idea can be shared to.
      type: array
      minItems: 1
      maxItems: 50
      items:
        oneOf:
          - $ref: '#/components/schemas/RoomId'
          - $ref: '#/components/schemas/UserId'
    IdeaHeaderProperties:
      description: >-
        Properties used to make the idea header customizable per client's
        preference.
      type: object
      properties:
        '@type':
          type: string
          enum:
            - IdeaHeaderProperties
        title:
          type: string
          description: >-
            Client can set a short customized title for their idea which will be
            displayed in the idea header.
          minLength: 1
          maxLength: 20
        description:
          type: string
          description: >-
            Client can provide more context about their idea which will be
            displayed as a tooltip for the idea title.
          minLength: 1
          maxLength: 100
      additionalProperties: false
      required:
        - title
        - description
    Enrichment:
      type: object
      oneOf:
        - $ref: '#/components/schemas/enrichment_fields/properties/credit_derivative'
        - $ref: '#/components/schemas/enrichment_fields/properties/entity_org'
        - $ref: '#/components/schemas/enrichment_fields/properties/entity_person'
        - $ref: '#/components/schemas/enrichment_fields/properties/equity'
        - $ref: '#/components/schemas/enrichment_fields/properties/fixed_income_cash'
        - $ref: '#/components/schemas/enrichment_fields/properties/fx'
        - $ref: '#/components/schemas/enrichment_fields/properties/fx_cash'
        - $ref: '#/components/schemas/enrichment_fields/properties/fx_derivative'
        - $ref: '#/components/schemas/enrichment_fields/properties/intent'
        - $ref: '#/components/schemas/enrichment_fields/properties/mortgage'
        - $ref: '#/components/schemas/enrichment_fields/properties/option'
        - $ref: '#/components/schemas/enrichment_fields/properties/other'
        - $ref: '#/components/schemas/enrichment_fields/properties/repo'
        - $ref: '#/components/schemas/enrichment_fields/properties/security_lending'
    enrichment_fields:
      type: object
      additionalProperties: false
      properties:
        credit_derivative:
          type: object
          properties:
            '@type':
              type: string
              enum:
                - credit_derivative
            instrument:
              type: object
              properties:
                cdx_group:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_cdx_group
                cdx_offer_date:
                  type: object
                  properties:
                    value:
                      type: string
                      example: 5Y
                      pattern: ^[0-9]{2}/[0-9]{2}/[0-9]{4}$
                      description: Resolved date in MM/DD/YYYY format
                  additionalProperties: false
                confidence_type:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_confidence_type
                coupon:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_coupon
                figi_underlying:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_figi
                roll_from_series:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_roll_from_series
                sector:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_sector
                security_description:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_security_description
                series:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_series
                tenor:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_tenor
                ticker:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_ticker
                year_definition:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_year_definition
              additionalProperties: false
            quote:
              $ref: >-
                #/components/schemas/enrichment_fields/properties/credit_derivative_quote_quote
            intent:
              type: object
              properties:
                confidence_type:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_confidence_type
                name:
                  type: string
                  example: Inquiry
                  enum:
                    - Inquiry
                    - Order
                    - Quote
                  description: Name of the security-level intent
              additionalProperties: false
              description: Generic group Intent
            side:
              type: object
              properties:
                confidence_type:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_confidence_type
                side:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_side
              additionalProperties: false
              description: Generic group Side. Most of the types use this one
            size:
              type: object
              properties:
                ask_size:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_ask_size
                bid_size:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_bid_size
                confidence_type:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_confidence_type
                size:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_size
              additionalProperties: false
              description: Generic group Size
          required:
            - '@type'
          additionalProperties: false
        entity_org:
          type: object
          properties:
            '@type':
              type: string
              enum:
                - entity_org
            instrument:
              type: object
              properties:
                bbid:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_bbid
                confidence_type:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_confidence_type
                primary_figi:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_figi
              additionalProperties: false
          required:
            - '@type'
          additionalProperties: false
        entity_person:
          type: object
          properties:
            '@type':
              type: string
              enum:
                - entity_person
            instrument:
              $ref: >-
                #/components/schemas/enrichment_fields/properties/entity_person_instrument_instrument
          required:
            - '@type'
          additionalProperties: false
        equity:
          type: object
          properties:
            '@type':
              type: string
              enum:
                - equity
            instrument:
              type: object
              properties:
                bbid:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_bbid
                confidence_type:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_confidence_type
                exchange:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_exchange
                figi:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_figi
                ticker:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_ticker
                yellow_key:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_yellow_key
                security_description:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_security_description
              additionalProperties: false
            quote:
              $ref: >-
                #/components/schemas/enrichment_fields/properties/equity_quote_quote
            intent:
              type: object
              properties:
                confidence_type:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_confidence_type
                name:
                  type: string
                  example: Inquiry
                  enum:
                    - Inquiry
                    - Order
                    - Quote
                  description: Name of the security-level intent
              additionalProperties: false
              description: Generic group Intent
            side:
              type: object
              properties:
                confidence_type:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_confidence_type
                side:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_side
              additionalProperties: false
              description: Generic group Side. Most of the types use this one
            size:
              $ref: >-
                #/components/schemas/enrichment_fields/properties/common_groups_size
            note:
              $ref: >-
                #/components/schemas/enrichment_fields/properties/common_groups_note
          required:
            - '@type'
          additionalProperties: false
        fixed_income_cash:
          type: object
          properties:
            '@type':
              type: string
              enum:
                - fixed_income_cash
            instrument:
              type: object
              properties:
                confidence_type:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_confidence_type
                coupon:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_coupon
                figi:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_figi
                loan_company_id:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_loan_company_id
                security_description:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_security_description
                series:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_series
                ticker:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_ticker
                yellow_key:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_yellow_key
              additionalProperties: false
            quote:
              type: object
              properties:
                benchmark:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_benchmark
                benchmark_yellow_key:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_benchmark_yellow_key
                confidence_type:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_confidence_type
                firmness:
                  $ref: >-
                    #/components/schemas/enrichment_fields/properties/common_fields_firmness
                settlement_currency:
                  $ref: >-
[...]
